Source: restic
Section: admin
Priority: optional
Maintainer: iXsystems Development Team <dev@ixsystems.com>
Build-Depends: debhelper-compat (= 12), wget
Standards-Version: 4.4.0
Homepage: https://github.com/restic/restic/releases

Package: restic
Architecture: amd64 arm64
Description: restic is a backup program that is fast, efficient and secure
 restic is a backup program that is fast, efficient and secure.
